<%= link_to "Artists Home", artists_path %>

<br/>

<h1><%= @artist.name %></h1>
<%= form_for @artist, method: 'delete' do |f| %>
  <%= f.submit "Remove Artist", id: "destroy" %>
<% end %>

<%= image_tag @artist.photo_url, width: "300px" %>
<p>Genre: <%= @artist.genre %></p>
<h2>Songs:</h2>
<ul>
  <% @songs.each do |song| %>
    <li>
      <%= render partial: 'songs/song', locals: { song: song } %>
    </li>
  <% end %>
</ul>

<br/>
<%= link_to "Add Song", new_artist_song_path(@artist) %>