<h1>Tunr</h1>

<%= link_to "Browse by Artist", artists_path %>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for song:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>